<!-- load static in order to run th css files -->
{% load static  %}
<!DOCTYPE html>
<html>
{% load pwa %} 
{% progressive_web_app_meta %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'style/theme.css' %}" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> MyConcrete<br></b>
      </a>
      <div class="row">
        <div class="col-md-12"><a class="navbar-brand" href="#">
            <b> My Plant<br></b>
          </a></div>
      </div> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Información</a> </li>
          <li class="nav-item" style=""> <a class="nav-link" href="#">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-primary" href="#">Register</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="">
    <div class="container pb-1">
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" action="Index.html" method="post">{% csrf_token %}
            <div class="input-group">
              <input type="submit" class="form-control" id="myLote" name="myLote" placeholder="Buscar por Lote">
              <div class="input-group-append"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead></thead>
              <tbody>
                <tr>
                  <td>Lote</td>
                  <td>{{Lote}}<br></td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>{{Empresa}}</td>
                </tr>
                <tr>
                  <td>Fecha</td>
                  <td>{{Fecha}}</td>
                </tr>
                <tr>
                  <td>Hora</td>
                  <td>{{Hora}}</td>
                </tr>
                <tr>
                  <td>Producción</td>
                  <td>{{Cantidad}} m3</td>
                </tr>
                <tr>
                  <td>Tiempo</td>
                  <td>{{T_Producción}}</td>
                </tr>
                <tr>
                  <td>RUC</td>
                  <td>{{RUC}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Insumos</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cemento</td>
                  <td>{{Cemento}} Kg</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Piedra</td>
                  <td>{{Agregado_1}} Kg</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Arena</td>
                  <td>{{Agregado_2}} Kg</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Agua</td>
                  <td>{{Agua}} L</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Aditivo 1</td>
                  <td>{{Aditivo_1}} L</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" enctype="multipart/form-data" action="" method="post"> {% csrf_token %}
          <!-- <form  enctype="multipart/form-data" action="" method="post"> {% csrf_token %}   -->
            <div class="input-group">
              <input type="text" class="form-control" id="fecha" placeholder="Buscar fecha aaaa-mm-dd" name="fecha">
              <div class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Hora</th>
                  <th scope="col">Lote</th>
                  <th scope="col">Empresa</th>
                  <th scope="col">Producción</th>
                </tr>
              </thead>
              <tbody>
                {% for dat1, dat2,dat3, dat4 in col %}
                <!-- <tr>
                  <th scope="row">HH:mm<br></th>
                  <td>123456789</td>
                  <td>MiEmpresa</td>
                  <td contenteditable="true">1213 3 m3</td>
                </tr> -->
                <tr>
                      <td>
                    {{dat1}}
                     </td>
                      <td>
                    {{dat2}}
                     </td>
                      <td>
                    {{dat3}}
                     </td>  
                      <td>
                    {{dat4}} m3
                     </td>
                           </tr>
                    {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2020-2021 MyConcrete. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo> -->
</body>

</html>